:root {
    --bg-primary: #001219;
    --secondary: #005F73;
    --accent: #E9D8A6;
    --accent-yellow: #EE9B00;
    --accent-red: #AE2012;
}

section {
    width: 100%;
    margin: 0 auto;
}


/* Hero section --> */
.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;

    text-align: center;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.20, 1, 1, 1);
    color: #94D2BD;
}

.title.active {
    opacity: 1;
}


#heroTile {
    width: 3.5rem;
    height: 3.5rem;
    transition: scale ease 2s;
}

#heroTile.gameActive {
    scale: 65;
}

.heroGrid {
    padding: 2rem 2rem 0.5rem 2rem;

    background-color: #005F73;
    width: min(90vw, 1000px);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;

    border-radius: 2rem 2rem 0 0;
}

.heroGrid .tile{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 900;
}

.playTile,.lmTile{
    transition: scale 0.5s cubic-bezier(0.20, 1, 1, 1);
}

.playTile.active,.lmTile.active{
    scale: 1.2;
    
}
/* <-- Hero Section */

/* How to play --> */

.htp {
    width: 100%;
    height: 100vh;
    background-color: #E9D8A6;
}

/* <-- How to play*/