:root {
    --bg-primary: #001219;
    --secondary: #005F73;
    --accent: #E9D8A6;
    --accent-yellow: #EE9B00;
    --accent-red: #AE2012;
    --logo-text:#94D2BD;
}

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    margin: 0 auto;
}


/* Hero section --> */

.logo {
    opacity: 0;
}

.logo.active {
    opacity: 1;
}

.heroGrid {
    width: min(60vw, 1000px);
    padding: min(2vw,2rem);
    border-radius: 2rem;
    background-color: var(--secondary);

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
    
    transform: translateY(150%);
    transition: transform 1s cubic-bezier(0.20, 1, 1, 1);
}

.heroGrid.active{
    transform: translateY(0);
}

.heroGrid .tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 900;
}

.playTile,
.lmTile {
    cursor: pointer;
    transition: scale 0.5s cubic-bezier(0.20, 1, 1, 1);
}

.playTile.active,
.lmTile.active {
    scale: 1.2;
}

/* <-- Hero Section */

/* How to play --> */

#htp {
    width: 100%;
    height: 100vh;
    background-color: var(--accent);
}

/* <-- How to play*/